@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  color: #111827;
}

:root {
  --bg: #ffffff;
  --button: #ff451a;
  --buttonHover: #ffa202;

  --button2: white;
  --buttonHover2: var(--bg);
}

.side {
  @apply px-30
}

.button {
  @apply border-2 bg-(--button) hover:bg-(--buttonHover) text-white px-4 py-2 rounded-3xl
}

.button2 {
  @apply border-2 border-(--bg) bg-(--button2) hover:bg-(--buttonHover2) text-(--bg) hover:text-white px-4 py-2 rounded-3xl
}

a.active {
  color: #ff451a;
  font-weight: 600;
}